<!DOCTYPE html>
<html>
<head>
  <title>Salesloft</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'shared/header' %>
  <section class="container mx-auto max-w-screen-lg px-4 md:px-0 py-8">
    <%= yield %>
  </section>
</body>
</html>
